@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
  html{
    font-family: "Inter", serif;
  }
  

}

.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
